In [23]:
import pandas as pd
import decimal
from scipy import stats

In [10]:
# Read dataset
credit_risk = pd.read_csv('data/credit_risk_dataset.csv')

# Delete columns
credit_risk.drop(['cb_person_default_on_file','cb_person_cred_hist_length'], axis=1, inplace=True)

<table>
  <tr>
    <th>Coluna</th>
    <th>Descricao</th>
  </tr>
  <tr>
    <td>person_age</td>
    <td>Idade</td>
  </tr>
  <tr>
    <td>person_income</td>
    <td>Rendimento anual</td>
  </tr>
  <tr>
    <td>personhomeownership</td>
    <td>Propriedade da casa</td>
  </tr>
  <tr>
    <td>personemplength</td>
    <td>Tempo de trabalho (em anos)</td>
  </tr>

   <tr>
    <td>loan_intent</td>
    <td>Intenção de empréstimo</td>
  </tr>
   <tr>
    <td>loan_grade</td>
    <td>Grau do empréstimo</td>
  </tr>

   <tr>
    <td>loan_amnt</td>
    <td>Montante do empréstimo</td>
  </tr>
   <tr>
    <td>loanintrate</td>
    <td>Taxa de juro</td>
  </tr>

  <tr>
    <td>loan_status</td>
    <td>Status do empréstimo (0 NÃO PAGO 1 é PAGO)</td>
  </tr>
  <tr>
    <td>loanpercentincome</td>
    <td>Renda percentual</td>
  </tr>
  <tr>
    <td>cbpersondefaultonfile</td>
    <td>Padrão histórico</td>
  </tr>
  <tr>
    <td>cbpresoncredhistlength</td>
    <td>Tamanho do histórico de crédito</td>
  </tr>
</table>

In [28]:
credit_risk

,person_age,person_income,person_home_ownership,person_emp_length,loan_intent,loan_grade,loan_amnt,loan_int_rate,loan_status,loan_percent_income
0,22,59000,RENT,123.0,PERSONAL,D,35000,16.02,1,0.59
1,21,9600,OWN,5.0,EDUCATION,B,1000,11.14,0,0.10
2,25,9600,MORTGAGE,1.0,MEDICAL,C,5500,12.87,1,0.57
3,23,65500,RENT,4.0,MEDICAL,C,35000,15.23,1,0.53
4,24,54400,RENT,8.0,MEDICAL,C,35000,14.27,1,0.55
...,...,...,...,...,...,...,...,...,...,...
32576,57,53000,MORTGAGE,1.0,PERSONAL,C,5800,13.16,0,0.11
32577,54,120000,MORTGAGE,4.0,PERSONAL,A,17625,7.49,0,0.15
32578,65,76000,RENT,3.0,HOMEIMPROVEMENT,B,35000,10.99,1,0.46
32579,56,150000,MORTGAGE,5.0,PERSONAL,B,15000,11.48,0,0.10
32580,66,42000,RENT,2.0,MEDICAL,B,6475,9.99,0,0.15

In [30]:
credit_risk.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32581 entries, 0 to 32580
Data columns (total 10 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   person_age             32581 non-null  int64
 1   person_income          32581 non-null  int64
 2   person_home_ownership  32581 non-null  object
 3   person_emp_length      32581 non-null  object
 4   loan_intent            32581 non-null  object
 5   loan_grade             32581 non-null  object
 6   loan_amnt              32581 non-null  int64
 7   loan_int_rate          32581 non-null  object
 8   loan_status            32581 non-null  int64
 9   loan_percent_income    32581 non-null  float64
dtypes: float64(1), int64(4), object(5)
memory usage: 2.5+ MB

In [26]:
print( credit_risk[['person_emp_length','loan_int_rate']].describe() )

print( "Trimmed mean of column [person_emp_length]: ", decimal.Decimal( '%.2f' % (stats.trim_mean( credit_risk['person_emp_length'], 0.1 ) ) ) )
print( "Trimmed mean of column [loan_int_rate]: ", decimal.Decimal( '%.2f' % stats.trim_mean( credit_risk['loan_int_rate'], 0.1 ) ) )

       person_emp_length  loan_int_rate
count       31686.000000   29465.000000
mean            4.789686      11.011695
std             4.142630       3.240459
min             0.000000       5.420000
25%             2.000000       7.900000
50%             4.000000      10.990000
75%             7.000000      13.470000
max           123.000000      23.220000
Trimmed mean of column [person_emp_length]:  4.51
Trimmed mean of column [loan_int_rate]:  11.57

In [29]:
# Atribui a média aparada aos valores vazios das colunas específicas
credit_risk.fillna(
    {'person_emp_length': decimal.Decimal( '%.2f' % (stats.trim_mean( credit_risk['person_emp_length'], 0.1 ) ) ), 
    'loan_int_rate': decimal.Decimal( '%.2f' % stats.trim_mean( credit_risk['loan_int_rate'], 0.1 ) )
    }, inplace=True
)